header {
  border: solid 1rem;
  text-align: center;
}

#info {
  margin: 20px auto;
  padding: 20px;
  border: 3px solid black;
  overflow: auto;
  text-align: center;
  max-width: 60%
}


#box {
  margin: 20px 20px;
  border:3px solid black;
  height: 150px;
  width: 150px;

}

.pizza{
  float: right;
  margin: 250px 10px;
}

#pizza-img {
  max-width: 300px;
  max-height: 300px;
}

#PizzaMakerSign {
  border: 3px solid black;
  width : 80%;
}


 
.image-container {
  position: relative; /* set container to a relative position */
  width: 200px; /* set your desired width */
  height: 100px; /* set your desired height */
}

#pepperoni img {
  height:100% ;
  width:100% ;
  
 
}
#sausage img {
  height:100%;
  width: 100%;
  margin-top: 25px;
  margin-right:10px;
}
 
.button {
  /*position: absolute; /* set button to an absolute position */
  top: 50%; /* adjust the top position of the button */
  left: 50%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
  z-index: 2; /* set a higher z-index than the image */ /* set your desired background color */
  color: #0a0000; /* set your desired text color */
  border: none; /* remove button border */
  padding: 10px 20px; /* set your desired padding */
  cursor: pointer; /* change mouse cursor on hover */
} 
